<h1>Users</h1>
<table>
    <tr>
        <th>#</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Username</th>
        <th>Phone</th>
    </tr>
    <% _.each(allUsers, function(user) { %>
    <tr>
        <td><%= user.attributes.id %></td>
        <td><img src="<%= user.attributes.avatar %>"></td>
        <td><%= user.attributes.name %></td>
        <td><%= user.attributes.username %></td>
        <td><%= user.attributes.phone %></td>
    </tr>
    <% }); %>
</table>
